@import "tailwindcss";

@theme {
  --color-primary: #175cd3;
  --color-secondary: #002473;
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
}

@layer base {
  @apply text-[#030303]  dark:text-white dark:bg-gray-900 bg-white;
  @apply font-[var(--font-family)];
  @apply text-base;
  @apply leading-normal;
  @apply tracking-normal;
  @apply transition-all duration-300 ease-in-out;
  @apply border-gray-300 dark:border-gray-700;
  @apply shadow-md dark:shadow-lg;
  @apply focus:outline-none;
}

:root {
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
}
